/*-----------------Encabezado------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*permite que cuando se coloque padding o margin a un elemento ese cambio sea dentro del modelo de caja y no se salga del margen*/
}
body{
    font-family: 'Open Sans', sans-serif;
    
}
header{
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;
    position: fixed;/*permite que el encabezado se mantenga arriba*/
    top: 0;
    left: 0;
    z-index: 100;/*permite que siempre se vea el encabezado encima del resto de la pagina*/
}
.contenedor{
    width: 100%;
    margin: auto;
}
.fas fa-dove{
  float: left;  
}
header .contenedor{
    display: table;/*sirve para limpiar los float*/
}
/*--------------------------- Fin Encabezado----------------*/
#menu-bar{
    display: none;/*esconde y muestra elementos*/
}
header label{
    float: right;
    font-size: 28px;
    margin: 6px 0;/*margen de 6 pixeles hacia arriba y 0 a los costados*/
    cursor: pointer;
}
.menu{
   position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;/*sirve para que ocupe todo el ancho independiente de los otros elementos*/
    background: rgba(51,51,51,0.9);
    transition: all 0.5s;/*permite que se vea como se desplaza el menu*/
    transform: translateX(-100%);/*mueve el menu fuera*/
}
.menu a{
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    font-size:15px;
}
.menu a:hover{
   background:rgba(255,255,255,0.3); 
}
#menu-bar:checked ~ .menu{/*cuando se haga check en el checkbox se ejecuta*/
    transform: translateX(0%);

}
@media (min-width:1024px){/*los comando se ejecutaran en un computador al agrandar la pagina*/
    .menu{
        position: static;/*ya que tiene absolute lo cambiamos para que el menu no este posicionado de esa forma*/
        width: auto;
        height: auto;
        transform: translateX(0%);/*quita el traslate para que el menu sea visible*/
        float: right;
        display: flex;
    }
    .menu a{
        border: none;
    }
    #label{
        display: none;
    }
}